form{
    width: 500px;
    display: block;
    outline-color: grey;
    position: relative;
    margin: 20px;
    padding: 10px;
    outline-offset: 5px ;
}
form fieldset{
    display: block;
    margin: 20px;
}
form div {
    display: block;
    border-radius: 5px;
    margin: 10px auto;
}
form label{
    vertical-align: top;
    display: inline-block;
    width: 100px;
    vertical-align: top;
}