.logo{
    width: 100%;
    max-width: 300px;
    float: left;
}
#logo{
    width: 150px;
}
nav{
    width: 100%;
}
nav ul{
    height: 30px;
    padding: 60px 0px;
    background-color: #0c0c0cdf;
}
nav ul li{
    display: inline;
    padding: 20px 25px;
    list-style: none;
}
nav ul li:hover, nav ul li.active{
    background-color: rgba(85, 77, 77, 0.779);
}
nav ul li:hover a{
    color: rgb(188, 165, 136);
}
nav ul li a{
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
}
/* END HEADER */

#banner{
    width: 100%;
    height: 600px;
    background-image: url(../image/banner.png);
}
#banner h1{
    color: #ffff;
    text-align: center;
    position: absolute;
    font-family: "Great Vibes";
    font-size: 115px;
    left: 25%;
    top: 45%;
}
/*END BANNER*/
.container{
    margin: 20px 0px;
    padding: 10px 30px;
}
#foto{
    width: 100%;
    max-width: 1600;
    margin: auto;
    text-align: justify;
}
#foto h2{
    color: rgb(121, 100, 75);
    text-align: center;
}
#porth{
    color: rgb(121, 100, 75);
    text-align: center;
}
#foto img.foto{
    display: inline;
    margin: 15px;
}
#titblog h1{
    color: rgb(121, 100, 75);
    text-align: center;    
}
#titblog h3{
    text-align: center;
}
/*Text Index*/

.textindex h2{
font-size: 30px;
color: rgb(121, 100, 75);
text-align: center;
}
.textindex p{
color: black;
text-align: justify;
}
#paragraf{
    margin-bottom: 40px;
}
.listetitlu h2{
color: rgb(121, 100, 75);    
text-align: center;
}
.liste{
    display: flex;
    gap: 45px;
    justify-content: center;
    width: 100%;
}
.liste h3{
    margin-bottom: 15px;
    text-decoration: underline;
    margin-bottom: 15px;
}

/*START PRICE TABLE*/
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.bg-gray {
    background-color: #fbfbfb;
}

.section-title {
    text-align: center;
    margin-bottom: 57px;
}

.section-title .subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #197beb;
    line-height: 26px;
    display: block;
}

.section-title .title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 18px;
    font-weight: 700;
}

.section-title p {
    font-size: 16px;
    color: #818181;
    max-width: 720px;
    margin: 0 auto;
}

.video-tutorial {
    padding: 110px 0 0 0;
}

.video-tutorial .demo-wrapper {
    margin-bottom: 40px;
}

.video-tutorial .demo-wrapper .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.price-plan-wrapper {
    padding: 0 0 60px 0;
}

.pricing-table-1 {
    border: 3px solid #e5e3e3;
    border-radius: 10px;
    text-align: center;
    padding: 38px 0 40px;
    transition: 0.3s ease-in;
    margin-bottom: 30px;
}

.pricing-table-1:hover {
    border-color: #197beb;
}

.pricing-table-1 .price-header .title {
    color: #282828;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

.pricing-table-1 .price-header .price {
    font-size: 50px;
    line-height: 60px;
    color: #282828;
    font-weight: 600;
    margin-bottom: 25px;
}

.pricing-table-1 .price-header .price .dollar {
    font-size: 33px;
    line-height: 33px;
    position: relative;
    top: -12px;
}

.pricing-table-1 .price-header .price .month {
    font-size: 22px;
    line-height: 23px;
}

.pricing-table-1 .price-footer {
    margin-top: 40px;
}

.pricing-table-1 .price-footer .order-btn {
    display: inline-block;
    width: 165px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 2px solid #197beb;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 25px;
    color: #282828;
    transition: 0.3s ease-in;
    font-weight: 600;
}

.pricing-table-1 .price-footer .order-btn i {
    font-size: 13px;
    padding-left: 2px;
}

.pricing-table-1 .price-footer .order-btn:hover {
    background-color: #197beb;
    color: #fff;
    border-color: #197beb;
}

.pricing-table-1 .price-body ul {
    margin: 0;
    padding: 0;
}

.pricing-table-1 .price-body ul li {
    list-style: none;
    display: block;
    color: #8997a7;
    margin: 27px 0;
}

.pricing-table-1 .price-body ul li:first-child {
    margin-top: 0;
}

.pricing-table-1 .price-body ul li:last-child {
    margin-bottom: 0;
}
/*STOP PRICE TABLE*/
/*CONTACT*/
.form-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
}
.registration-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background: #f9f9f9;
}
.form-group input:focus,
.form-group textarea:focus {
    border-color: rgba(188, 165, 136, 0.8);
    outline: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(188, 165, 136, 0.5);
}
.form-group button {
    width: 100%;
    padding: 10px;
    background: rgba(188, 165, 136, 0.9);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.form-group button:hover {
    background: rgba(188, 165, 136, 1);
    transform: translateY(-2px);
}

/* Informatii contact */
.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.info-item {
    text-align: center;
    flex: 1;
    margin: 0 15px;
}
.info-item .icon {
    font-size: 40px; 
    color: rgba(188, 165, 136, 0.9);
    margin-bottom: 10px;
    transition: color 0.3s ease, transform 0.2s ease;
}
.info-item .icon:hover {
    color: rgba(188, 165, 136, 1); 
    transform: scale(1.1);
}
.info-item h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}
.info-item p {
    font-size: 14px;
    color: #000; 
}
.info-item a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
}
.info-item a:hover {
    color: #2575fc;
    text-decoration: underline;
}
/*Despre*/
.about-section h1 {
    font-size: 28px;
    color: rgb(121, 100, 75);
    margin-bottom: 15px;
}
.about-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.about-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}
